:host ::ng-deep .p-card{
    margin-top: 100px;
    width: 500px;
}

:host ::ng-deep .p-inputtext{
    width: 300px;
}

:host ::ng-deep .boton-flotante{
    position: absolute;
    left: 0;
    margin: 1rem;
}

