<div class="flex flex-column align-items-center bg-orange-100 min-h-screen">
  <!-- <a routerLink="">
      <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded boton-flotante"></p-button>
  </a> -->
  <p-card styleClass="surface-100 col-12">
    <ng-template pTemplate="header">
      <div>n</div>
      <div>
        <span class="texto-titulo">Registro Centro</span>
      </div>
      <div>
        <span class="texto-parrafo">
          Instituto, universidad u otro centro formativo, puedes solicitar una charla técnica, motivacional o sobre
          softskill para tus alumn@s de la rama de tecnología cumplimentando este formulario. Un/a profesional del
          sector se desplazará a tu centro para impartirla presencialmente; si lo prefieres, también se puede realizar
          de manera virtual.
          Un mismo centro puede solicitar más de una charla, pero solo se puede solicitar una charla para cada grupo de
          alumnos (cada clase) y año académico. Hay que cumplimentar un formulario distinto para solicitar cada charla.
        </span>
      </div>
    </ng-template>
    <div class="flex flex-column align-items-center">
      
    </div>
  </p-card>
</div>