/* You can add global styles to this file, and also import other style files */
/* @import "node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "node_modules/primeng/resources/primeng.css";
@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeflex/primeflex.css";

body{
    margin: 0px;
}

:root {
  --background-negro1: rgb(15, 15, 15);
  --background-negro1-hover: rgb(25, 25, 25);
  --background-negro2: rgb(45, 45, 45);
  --background-negro2-hover: rgb(65, 65, 65);
  --color-negro1: rgb(70, 70, 70);
  --color-blanco1: white;
}
